{% extends "base.html" %}

{% block title %}Login{% endblock %}
{% block header_text %}Login{% endblock %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-8 col-12">
        <div class="card">
            <div class="card-body">
                <form action="." method="POST" class="login-form">
                    {{ form }}
                    {% csrf_token %}
                    <button class="btn btn-success px-5 mt-3">Login</button>
                </form>
            
                <div class="py-3 text-center">
                    Not a User! 
                    <a href="{% url 'register' %}"> Signup</a>
                </div>
            </div>
        </div>
    </div>
</div>

    

{% endblock %}
