{% extends "base.html" %}

{% block title %}Update Profile{% endblock %}
{% block header_text %}Update Profile{% endblock %}

{% block content %}
	<form action="" method="post" class="register">	
		{% csrf_token %}
		<input type="hidden" name="user" value="{{object.user.id}}">
		<label>Email</label>
		<input type="text" name="email" value="{{object.email}}"><br>
		<label>Phone</label>
		<input type="text" name="phone" value="{{object.phone}}"><br>
		<label>Company Name</label>
		<input type="text" name="company_name" value="{{object.company_name}}"><br>
		<input class="btn btn-primary mt-3" type="submit" value="Signup">
	</form>


{% endblock %}
