{% extends "base.html" %}

{% block title %}{% endblock %}
{% block header_text %}{% endblock %}

{% block content %}
    {% load utils %}
<div style="background-color: #eeeeee; padding: 50px; margin-top: 20px">
    <table class="table align-items-center table-striped table-bordered table-hover">
        <thead class="thead-dark">
        <tr>
            <th>Rooms Id</th>
            <th>Name</th>
            <th>Status</th>
            <th class="text-center">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for room in rooms %}
            {% get_member_chat  room=room user_id=request.user.id as member_chat %}
            <tr>
                <td>{{room.id|stringformat:"03d"}}</td>
                <td>{{room.title|title}}</td>
                <td>{{ member_chat.status }}</td>
                <td class="text-center">
                    {% if member_chat and member_chat.status == 'approved' %}
                        <a class="btn btn-warning" href="{% url 'chat:room_detail' pk=room.id %}">View Room</a>
                    {% elif member_chat and member_chat.status == 'requested' %}
                        <a class="btn btn-primary" href="#">Requested</a>
                    {% else %}
                        <a class="btn btn-info" href="{% url 'chat:room_request' room_id=room.id user_id=user.id %}">Join</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
</table>
</div>
{% endblock %}
