{% extends "base.html" %}

{% block title %}Create PAge Admin{% endblock %}
{% block header_text %}Room List{% endblock %}

{% block content %}
<h1>Create PAge Admin</h1>
<form accept="" method="post">
    {% csrf_token %}
    <input type="text" value="{{room.title}}" readonly>
    <input type="hidden" name="room" value="{{room.id}}">
    <select name="user">
        <option>Select Admin For Page</option>
        {% for user in users %}
        <option value="{{user.id}}">{{user.username}}</option>
        {% endfor %}
    </select>
    <input type="submit" name="ok">
</form>
{% endblock %}