{% extends "base.html" %}

{% block title %}Rooms{% endblock %}
{% block header_text %}Owner Dashboard{% endblock %}

{% block content %}
<div style="background-color: #eeeeee; padding: 50px; margin-top: 20px">
<div class="row border-bottom py-3">
    <div class="col-md-6">
        <h3>Owner Dashboard</h3>
    </div>
    <div class="col-md-6">
        <a class="btn btn-success float-right text-white" data-toggle="modal" data-target="#createRoomModal">Create new Room</a>
        <!-- <a class="btn btn-success float-right" href="{% url 'chat:create_room' %}">Create new Room</a> -->
    </div>
</div>

<div class="row">
    <div class="col-md-10">
        <div class="pt-4">
            <table class="table align-items-center table-striped table-bordered table-hover">
                <h3 class="py-3">Rooms</h3>
                <thead class="thead-dark">
                <tr>
                    <th>Rooms Id</th>
                    <th>Name</th>
                    <th class="text-center">chat</th>
                    <th class="text-center">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for roomadmin in roomadmins %}
                    <tr>
                        <td>{{roomadmin.room.id|stringformat:"03d"}}</td>
                        <td>{{roomadmin.room.title|title}}</td>
                        <td class="text-center">
                            <a class="btn btn-info" href="{% url 'chat:room_detail' pk=roomadmin.room.id %}">Chat</a>
                        </td>
                        <td class="text-center">
                            <a class="btn btn-info" href="{% url 'chat:create_room_admin' pk=roomadmin.room.id %}">Create room admin</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div id="chats"></div>
        </div>
    </div>
</div>

{#<div class="chat-users border" style="background-color: #eeeeee">#}
{#    <h4 class="head">Chats</h4>#}
{#    <ul>#}
{#        {% for user in members %}#}
{#            <li class="col border-bottom py-2">#}
{#                <span class="mb-0">{{user.id|stringformat:"03d"}}</span>#}
{#                <span><strong>{{user.username|title}}</strong></span>#}
{#                <span class="text-center float-right">#}
{#                    <a class="btn btn-warning py-0">Chat</a>#}
{#                </span>#}
{#            </li>#}
{#        {% endfor %}#}
{#    </ul>#}
{#</div>#}


<!-- Modal -->
<div class="modal fade" id="createRoomModal" tabindex="-1" role="dialog" aria-labelledby="createRoomModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="createRoomModalLabel">Create Room</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <form action="{% url 'chat:create_room' %}" method="post">	
                                {% csrf_token %}
                                
                                <div class="form-group mb-3">
                                    <label>Room</label>
                                    <input type="text" class="form-control" name="title" placeholder="Room Title">
                                </div>
                                <button type="submit" class="btn btn-primary">Create</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
        </div>
        </div>
    </div>
</div>
</div>

{% endblock %}

{% block extra_body %}
    <script>
        $(function () {
            // Correctly decide between ws:// and wss://
            var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
            var ws_path = ws_scheme + '://' + window.location.host + "/chat/stream/";
            console.log("Connecting to " + ws_path);
            var socket = new ReconnectingWebSocket(ws_path);

            // Handle incoming messages
            socket.onmessage = function (message) {
                // Decode the JSON
                console.log("Got websocket message " + message.data);
                var data = JSON.parse(message.data);
                // Handle errors
                if (data.error) {
                    alert(data.error);
                    return;
                }
                // Handle joining
                if (data.join) {
                    console.log("Joining room " + data.join);
                    var roomdiv = $(
                            "<div class='room' id='room-" + data.join + "'>" +
                            "<h2>" + data.title + "</h2>" +
                            "<div class='messages'></div>" +
                            "<form><input><button>Send</button></form>" +
                            "</div>"
                    );
                    // Hook up send button to send a message
                    roomdiv.find("form").on("submit", function () {
                        socket.send(JSON.stringify({
                            "command": "send",
                            "room": data.join,
                            "message": roomdiv.find("input").val()
                        }));
                        roomdiv.find("input").val("");
                        return false;
                    });
                    $("#chats").append(roomdiv);
                    // Handle leaving
                } else if (data.leave) {
                    console.log("Leaving room " + data.leave);
                    $("#room-" + data.leave).remove();
                    // Handle getting a message
                } else if (data.message || data.msg_type != 0) {
                    var msgdiv = $("#room-" + data.room + " .messages");
                    var ok_msg = "";
                    // msg types are defined in chat/settings.py
                    // Only for demo purposes is hardcoded, in production scenarios, consider call a service.
                    switch (data.msg_type) {
                        case 0:
                            // Message
                            ok_msg = "<div class='message'>" +
                                    "<span class='username'>" + data.username + "</span>" +
                                    "<span class='body'>" + data.message + "</span>" +
                                    "</div>";
                            break;
                        case 1:
                            // Warning / Advice messages
                            ok_msg = "<div class='contextual-message text-warning'>" + data.message +
                                    "</div>";
                            break;
                        case 2:
                            // Alert / Danger messages
                            ok_msg = "<div class='contextual-message text-danger'>" + data.message +
                                    "</div>";
                            break;
                        case 3:
                            // "Muted" messages
                            ok_msg = "<div class='contextual-message text-muted'>" + data.message +
                                    "</div>";
                            break;
                        case 4:
                            // User joined room
                            ok_msg = "<div class='contextual-message text-muted'>" + data.username +
                                    " joined the room!" +
                                    "</div>";
                            break;
                        case 5:
                            // User left room
                            ok_msg = "<div class='contextual-message text-muted'>" + data.username +
                                    " left the room!" +
                                    "</div>";
                            break;
                        default:
                            console.log("Unsupported message type!");
                            return;
                    }
                    msgdiv.append(ok_msg);

                    msgdiv.scrollTop(msgdiv.prop("scrollHeight"));
                } else {
                    console.log("Cannot handle message!");
                }
            };

            // Says if we joined a room or not by if there's a div for it
            inRoom = function (roomId) {
                return $("#room-" + roomId).length > 0;
            };

            // Room join/leave
            $("a.room-link").click(function () {
                roomId = $(this).attr("data-room-id");
                if (inRoom(roomId)) {
                    // Leave room
                    $(this).removeClass("joined");
                    socket.send(JSON.stringify({
                        "command": "leave",
                        "room": roomId
                    }));
                } else {
                    // Join room
                    $(this).addClass("joined");
                    socket.send(JSON.stringify({
                        "command": "join",
                        "room": roomId
                    }));
                }
            });

            // Helpful debugging
            socket.onopen = function () {
                console.log("Connected to chat socket");
            };
            socket.onclose = function () {
                console.log("Disconnected from chat socket");
            }
        });
    </script>
{% endblock %}

