{% extends 'base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
{#    <script src="{% static 'js/jquery.min.js' %}"></script>#}
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/style2.css' %}"/>
{#    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}"/>#}
    <div class="row justify-content-center pt-5">
    <div class="col-md-12 col-sm-12">
        <div class="card">
            <div class="card-body">

    <div class="container">
        <div class="page-header">
            <h1>Welcome to ChatApp
                <small>Pick a user and start chatting!</small>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    {% if request.user.user_profile.type == request.user.user_profile.USER_TYPE_PAGE_ADMIN %}
                        <a href="{% url 'chat:owner_dashboard' %}"><span aria-hidden="true">&times;</span></a>
                    {% else %}
                        <a href="{% url 'chat:rooms' %}"><span aria-hidden="true">&times;</span></a>
                    {% endif %}
                </button>
            </h1>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div id="user-list" class="list-group">
                    <a href="" class="list-group-item disabled">
                        <h4 class="list-group-item-heading">Users</h4>
                        {# Users go here #}
                    </a>
                </div>
            </div>
            <div class="col-md-8">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h2 class="panel-title">Chat</h2>
                    </div>
                    <div style="border: 1px solid #eee">
                        <ul id="messages" class="messages">
                            {# Messages go here #}
                        </ul>
                    </div>
                    <div class="panel-footer">
                        <div class="input-group">
                            <input id="chat-input" type="text"
                                   class="form-control input"
                                   placeholder="Type your message here ..."
                                   maxlength="500">
                            <span class="input-group-btn">
                            <button class="btn btn-info btn"
                                    id="btn-send">
                                Send</button>
                        </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
            </div>
        </div>
    </div>
    </div>
    <script>
        let sessionKey = '{{ request.session.session_key }}';
        let currentUser = '{{ request.user.username }}';
    </script>
    <script src="{% static 'js/app.js' %}"></script>

{% endblock %}